GOOGLE_API_KEY=
GOOGLE_TRANSLATE_API_URL=https://translation.googleapis.com/language/translate/v2?format=text&
GOOGLE_SPEECH_API_URL=https://speech.googleapis.com/v1/speech:recognize?
MICROSOFT_AZURE_API_KEY=b
MICROSOFT_AZURE_ISSUE_TOKEN_URL=https://westus.api.cognitive.microsoft.com/sts/v1.0/issueToken?
MICROSOFT_AZURE_TTS_API_URL=https://westus.tts.speech.microsoft.com/cognitiveservices/v1?
